@using NatixisWebChatModels.AppModels
@model UsersModel
@{
    ViewData["Title"] = "Profile";

    var message = TempData["ResetPassword"];
}

<div class="text-center">
    <h1 class="display-4 titleProfileView">USER PROFILE</h1>
</div>
<br />    
<br />
<div class="text-center">
    <h6 class="divMessageProfileView">
        <b>@message</b>    
    </h6> 
</div>
<br />    
<br />
<div class="row">  
    <dl class="row">    
        <dt class="col-sm-2 labelProfileView">@Html.DisplayNameFor(model => model.Username)</dt>    
        <dd class="col-sm-10 dataProfileView">@Html.DisplayFor(model => model.Username)</dd>    
        <dt class="col-sm-2 labelProfileView">@Html.DisplayNameFor(model => model.Email)</dt>    
        <dd class="col-sm-10 dataProfileView">@Html.DisplayFor(model => model.Email)</dd>    
    </dl>
    <br />
    <br />
    <div class="footer-links">
            @Html.ActionLink("CHANGE PASSWORD", "ResetPassword")
    </div>
</div>